In [1]:
import numpy as np
import pandas as pd
True_news=pd.read_csv('True.csv')
Fake_news=pd.read_csv('Fake.csv')

#to recoginize which is true and fake we need to add a label

In [2]:
True_news['label']=0
Fake_news['label']=1
dataset1=True_news[['text','label']]
dataset2=Fake_news[['text','label']]
dataset=pd.concat([dataset1,dataset2])

In [3]:
dataset1
dataset2
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

#check for null value

In [4]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

#shuffle/resampled for being non biased

In [5]:
dataset=dataset.sample(frac=1)
dataset

                                                    text  label
11016  DES MOINES (Reuters) - Texas Senator Ted Cruz ...      0
13271  LONDON (Reuters) - All four members of the Bri...      0
5060   AUSTIN, Texas (Reuters) - A bill that would re...      0
13129  BERLIN (Reuters) - Germans see U.S. President ...      0
15092  Here s the fake black guy, Shaun King weighing...      1
...                                                  ...    ...
19571  THE HAGUE (Reuters) - The Dutch government has...      0
734    Trump apparently will continue the feud he sta...      1
19161                                                         1
5622   WASHINGTON (Reuters) - Former and current empl...      0
13831  MOSCOW (Reuters) - Six Russian Tu-22M3 long-ra...      0

[44898 rows x 2 columns]

#NATURAL LANGUAGE PROCESSING

In [6]:
pip install nltk

Requirement already satisfied: nltk in c:\users\taran\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\taran\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\taran\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\taran\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\taran\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\taran\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [8]:
ps=WordNetLemmatizer()
stopwords=stopwords.words('english')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\taran\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\taran\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [10]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\taran\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# CLEANING

In [11]:
def clean_row(row):
    row=row.lower()
    row=re.sub('[^a-zA-Z]',' ',row)
    token=row.split()
    news=[ps.lemmatize(word) for word in token if not word in stopwords]
    cleanned_news=' '.join(news)
    return cleanned_news

In [12]:
dataset['text']

11016    DES MOINES (Reuters) - Texas Senator Ted Cruz ...
13271    LONDON (Reuters) - All four members of the Bri...
5060     AUSTIN, Texas (Reuters) - A bill that would re...
13129    BERLIN (Reuters) - Germans see U.S. President ...
15092    Here s the fake black guy, Shaun King weighing...
                               ...
19571    THE HAGUE (Reuters) - The Dutch government has...
734      Trump apparently will continue the feud he sta...
19161
5622     WASHINGTON (Reuters) - Former and current empl...
13831    MOSCOW (Reuters) - Six Russian Tu-22M3 long-ra...
Name: text, Length: 44898, dtype: object

In [13]:
dataset['text']=dataset['text'].apply(lambda x: clean_row(x))

In [14]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\taran\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

# converting text to vector

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(max_features=500,lowercase=False,ngram_range=(1,2))

#spliting

In [16]:
x=dataset.iloc[:35000,0]
y=dataset.iloc[:35000,1]

In [17]:
from sklearn.model_selection import train_test_split
train_data, test_data,train_label, test_label =train_test_split(x,y,test_size=0.2,random_state=0)

# vectorizing train data only

In [18]:
vec_train_data=vectorizer.fit_transform(train_data)
vec_train_data=vec_train_data.toarray()

In [19]:
type(vec_train_data),vec_train_data.shape

(numpy.ndarray, (28000, 500))

In [20]:
vec_test_data=vectorizer.fit_transform(test_data)
vec_test_data=vec_test_data.toarray()

In [21]:

vec_test_data.shape

(7000, 500)

# onehot encoder used

In [22]:

training_data=pd.DataFrame(vec_train_data,columns = vectorizer.get_feature_names_out())
testing_data=pd.DataFrame(vec_test_data,columns = vectorizer.get_feature_names_out())

In [23]:
testing_data

,able,according,accused,across,act,action,actually,added,administration,agency,...,work,worker,working,world,would,wrote,year,year old,yet,york
0,0.000000,0.043359,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.05527,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.053839
1,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.080474,0.070553,0.0,...,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.046246,0.0,0.000000,0.000000
2,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
3,0.000000,0.074307,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.163855,0.0,...,0.040221,0.0,0.04736,0.040514,0.073890,0.0,0.026851,0.0,0.047538,0.000000
4,0.032563,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.000000,0.031166,0.0,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.000000,0.164526,0.0,0.044841,0.0,0.000000,0.000000
6996,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.173826,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
6997,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.079163,0.000000,0.000000,0.0,...,0.065614,0.0,0.00000,0.000000,0.000000,0.0,0.043803,0.0,0.000000,0.075260
6998,0.000000,0.000000,0.0,0.0,0.000000,0.034216,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.000000,0.019248,0.0,0.041968,0.0,0.000000,0.000000
6999,0.000000,0.044051,0.0,0.0,0.056387,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.063671,0.0,0.000000,0.000000

# model

In [24]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
clf=MultinomialNB()

In [26]:
clf.fit(training_data,train_label)

MultinomialNB()

In [27]:
y_pred=clf.predict(testing_data)

In [28]:
test_label

10911    1
7012     0
19890    1
4842     0
8128     0
        ..
3975     1
10092    1
2910     1
12236    0
7246     1
Name: label, Length: 7000, dtype: int64

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(test_label,y_pred)

0.6012857142857143

In [31]:
y_train_pred=clf.predict(training_data)
accuracy_score(train_label,y_train_pred)

0.9345357142857142

# new Data

In [39]:
txt="The following statementsÂ were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Based on the fact that the very unfair and unpopular Individual Mandate has been terminated as part of our Tax Cut Bill, which essentially Repeals (over time) ObamaCare, the Democrats & Republicans will eventually come together and develop a great new HealthCare plan! [0658 EST] - WOW, @foxandfrlends â€œDossier is bogus. Clinton Campaign, DNC funded Dossier. FBI CANNOT (after all of this time) VERIFY CLAIMS IN DOSSIER OF RUSSIA/TRUMP COLLUSION. FBI TAINTED.â€ And they used this Crooked Hillary pile of garbage as the basis for going after the Trump Campaign! [0824 EST] - All signs are that business is looking really good for next year, only to be helped further by our Tax Cut Bill. Will be a great year for Companies and JOBS! Stock Market is poised for another year of SUCCESS!"

In [40]:
news = clean_row(txt)

In [41]:
news

'following statement posted verified twitter account u president donald trump realdonaldtrump potus opinion expressed reuters edited statement confirmed accuracy realdonaldtrump based fact unfair unpopular individual mandate terminated part tax cut bill essentially repeal time obamacare democrat republican eventually come together develop great new healthcare plan est wow foxandfrlends dossier bogus clinton campaign dnc funded dossier fbi cannot time verify claim dossier russia trump collusion fbi tainted used crooked hillary pile garbage basis going trump campaign est sign business looking really good next year helped tax cut bill great year company job stock market poised another year success'

In [42]:
pred=clf.predict(vectorizer.transform([news]).toarray())

C:\Users\taran\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [43]:
pred

array([0], dtype=int64)

In [44]:
if pred==0:
    print("News Is True")
else:
    print("News Is Fake")

News Is True